<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin PHPMyAdmin</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Admin: Access PHPMyAdmin</h1>
        <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&db=ocr2" target="_blank" class="btn btn-primary btn-block mt-3">Access a la base de donne</a>
        <a href="/upload2" class="btn btn-secondary btn-block mt-3">Back to Home</a>
    </div>
</body>
</html>
